In [36]:
import pandas as pd

In [37]:
s1_predictions = pd.read_csv("../data/s1_predictions.csv")
s2_predictions = pd.read_csv("../data/s2_predictions.csv")

In [38]:
s1_predictions = s1_predictions.drop(["Unnamed: 0"], axis=1)
s2_predictions = s2_predictions.drop(["Unnamed: 0"], axis=1)

In [39]:
s1_predictions['datetime'] = pd.to_datetime(s1_predictions['datetime'])
s2_predictions['datetime'] = pd.to_datetime(s2_predictions['datetime'])

In [40]:
s1_predictions['pm2.5'].fillna(s1_predictions['pm2.5_predictions'], inplace=True)
s2_predictions['pm2.5'].fillna(s2_predictions['pm2.5_predictions'], inplace=True)
s1_predictions = s1_predictions.drop(["pm2.5_predictions"], axis=1)
s2_predictions = s2_predictions.drop(["pm2.5_predictions"], axis=1)

In [41]:
s1_predictions.isna().sum()

datetime    0
temp        0
wetb        0
dewpt       0
vappr       0
pm2.5       0
pm10        0
dtype: int64

In [42]:
s2_predictions.isna().sum()

datetime    0
temp        0
wetb        0
dewpt       0
vappr       0
pm2.5       0
pm10        0
dtype: int64

In [43]:
s1_predictions

                datetime  temp  wetb  dewpt  vappr  pm2.5  pm10
0    2021-10-01 00:00:00   2.2   1.7    0.9    6.5   1.76  2.83
1    2021-10-01 01:00:00   2.1   1.9    1.5    6.8   1.41  2.34
2    2021-10-01 02:00:00   2.3   2.1    1.8    7.0   1.14  2.00
3    2021-10-01 03:00:00   2.5   2.3    1.9    7.0   0.79  1.52
4    2021-10-01 04:00:00   2.6   2.4    2.1    7.1   0.20  0.67
...                  ...   ...   ...    ...    ...    ...   ...
7290 2022-07-12 19:00:00   1.9   1.5    1.0    6.6   1.26  1.42
7291 2022-07-12 20:00:00   1.5   1.2    0.7    6.4   0.88  1.07
7292 2022-07-12 21:00:00   1.2   1.0    0.7    6.4   1.44  1.75
7293 2022-07-12 22:00:00   1.5   1.3    1.0    6.6   2.15  2.72
7294 2022-07-12 23:00:00   1.2   1.1    0.8    6.5   1.77  2.43

[7295 rows x 7 columns]

In [44]:
s2_predictions

                datetime  temp  wetb  dewpt  vappr  pm2.5  pm10
0    2021-10-01 00:00:00   2.2   1.7    0.9    6.5   1.89  3.15
1    2021-10-01 01:00:00   2.1   1.9    1.5    6.8   1.53  2.61
2    2021-10-01 02:00:00   2.3   2.1    1.8    7.0   1.15  2.10
3    2021-10-01 03:00:00   2.5   2.3    1.9    7.0   0.89  1.80
4    2021-10-01 04:00:00   2.6   2.4    2.1    7.1   0.24  0.81
...                  ...   ...   ...    ...    ...    ...   ...
6803 2022-06-12 19:00:00   4.1   3.3    2.2    7.2   0.93  1.22
6804 2022-06-12 20:00:00   4.3   3.4    2.1    7.1   2.27  2.74
6805 2022-06-12 21:00:00   3.9   3.2    2.2    7.1   3.30  3.89
6806 2022-06-12 22:00:00   3.2   2.7    1.7    6.9   2.48  3.12
6807 2022-06-12 23:00:00   3.5   2.8    1.8    6.9   1.76  2.39

[6808 rows x 7 columns]

In [45]:
s1_predictions.to_csv('../data/final_s1.csv')

In [46]:
s2_predictions.to_csv('../data/final_s2.csv')