In [88]:
import pandas as pd

In [89]:
s1 = pd.read_csv("../data/s1_with_null.csv")
s2 = pd.read_csv("../data/s2_with_null.csv")
s1_predictions = pd.read_csv("../data/s1_predictions.csv")
s2_predictions = pd.read_csv("../data/s2_predictions.csv")

In [90]:
s1 = s1.drop(["Unnamed: 0"], axis=1)
s2 = s2.drop(["Unnamed: 0"], axis=1)
s1_predictions = s1_predictions.drop(["Unnamed: 0"], axis=1)
s2_predictions = s2_predictions.drop(["Unnamed: 0"], axis=1)
s1 = s1.rename(columns={'pm10(ug/m3)': 'pm10', 'pm2.5(ug/m3)': 'pm2.5'})
s2 = s2.rename(columns={'pm10(ug/m3)': 'pm10', 'pm2.5(ug/m3)': 'pm2.5'})

In [91]:
s1['datetime'] = pd.to_datetime(s1['datetime'])
s2['datetime'] = pd.to_datetime(s2['datetime'])
s1_predictions['datetime'] = pd.to_datetime(s1_predictions['datetime'])
s2_predictions['datetime'] = pd.to_datetime(s2_predictions['datetime'])

In [92]:
s1["pm2.5"] = s1["pm2.5"].fillna(s1_predictions["pm2.5"].mean())
s1["pm10"] = s1["pm10"].fillna(s1["pm10"].mean())

In [93]:
s2["pm2.5"] = s2["pm2.5"].fillna(s2_predictions["pm2.5"].mean())
s2["pm10"] = s2["pm10"].fillna(s2["pm10"].mean())

In [94]:
s1

                datetime  pm2.5  pm10
0    2021-10-01 00:00:00   1.76  2.83
1    2021-10-01 01:00:00   1.41  2.34
2    2021-10-01 02:00:00   1.14  2.00
3    2021-10-01 03:00:00   0.79  1.52
4    2021-10-01 04:00:00   0.20  0.67
...                  ...    ...   ...
7290 2022-07-31 18:00:00   1.86  2.09
7291 2022-07-31 19:00:00   1.66  1.93
7292 2022-07-31 20:00:00   1.93  2.22
7293 2022-07-31 21:00:00   3.14  3.47
7294 2022-07-31 22:00:00   2.73  3.05

[7295 rows x 3 columns]

In [95]:
s2

                datetime     pm2.5      pm10
0    2021-10-01 00:00:00  1.890000  3.150000
1    2021-10-01 01:00:00  1.530000  2.610000
2    2021-10-01 02:00:00  1.150000  2.100000
3    2021-10-01 03:00:00  0.890000  1.800000
4    2021-10-01 04:00:00  0.240000  0.810000
...                  ...       ...       ...
6803 2022-07-11 11:00:00  3.813349  7.142989
6804 2022-07-11 12:00:00  3.813349  7.142989
6805 2022-07-11 13:00:00  3.813349  7.142989
6806 2022-07-11 14:00:00  3.813349  7.142989
6807 2022-07-11 15:00:00  1.150000  1.310000

[6808 rows x 3 columns]

In [96]:
raw_data = pd.read_csv('../data/meterology/hly175.csv')

/var/folders/6k/3vmlhmb52cx2vjf55_z_zgg00000gn/T/ipykernel_65201/3576901303.py:1: DtypeWarning: Columns (2,4,6,7,8,9,10) have mixed types. Specify dtype option on import or set low_memory=False.
  raw_data = pd.read_csv('/Users/adityapimpalkar/Documents/AQI_new/AQI_federated_learning/data/meterology/hly175.csv')

In [97]:
df = raw_data[['date', 'temp', 'wetb', 'dewpt', 'vappr']]
df['datetime'] = pd.to_datetime(df['date'])
df['temp'] = pd.to_numeric(df['temp'], errors='coerce')
df['wetb'] = pd.to_numeric(df['wetb'], errors='coerce')
df['dewpt'] = pd.to_numeric(df['dewpt'], errors='coerce')
df['vappr'] = pd.to_numeric(df['vappr'], errors='coerce')

/var/folders/6k/3vmlhmb52cx2vjf55_z_zgg00000gn/T/ipykernel_65201/552309073.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['datetime'] = pd.to_datetime(df['date'])
/var/folders/6k/3vmlhmb52cx2vjf55_z_zgg00000gn/T/ipykernel_65201/552309073.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['temp'] = pd.to_numeric(df['temp'], errors='coerce')
/var/folders/6k/3vmlhmb52cx2vjf55_z_zgg00000gn/T/ipykernel_65201/552309073.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['wetb'] = pd.to_numeric(df['wetb'], errors='coerce')
/var/folders/6k/3vmlhmb52cx2vjf55_z_zgg00000gn/T/ipykernel_65201/552309073.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['dewpt'] = pd.to_numeric(df['dewpt'], errors='coerce')
/var/folders/6k/3vmlhmb52cx2vjf55_z_zgg00000gn/T/ipykernel_65201/552309073.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['vappr'] = pd.to_numeric(df['vappr'], errors='coerce')

In [98]:
met_s1 = df[(df['datetime'] >= s1["datetime"].min()) & (df['datetime'] <= s1["datetime"].max())]

In [99]:
final_s1 = pd.merge(met_s1[['datetime','temp', 'wetb', 'dewpt', 'vappr']], s1, how="left")

In [100]:
met_s2 = df[(df['datetime'] >= s2["datetime"].min()) & (df['datetime'] <= s2["datetime"].max())]

In [101]:
final_s2 = pd.merge(met_s2[['datetime','temp', 'wetb', 'dewpt', 'vappr']], s2, how='left')

In [102]:
final_s1.to_csv('../data/final_s1.csv')

In [103]:
final_s2.to_csv('../data/final_s2.csv')